@page
@model FunLingo.Pages.GameModel
@{
    ViewData["Title"] = "FunLingo";
}


<body style="align-content:center">
    <div class="display-4 text-center">
        <h1 class="display-4">Koffee with Naveen and Anmol - @ViewData["Players"] </h1>
    </div>
    <form method="post">
        <table>
            <tr>
                <h3 class="display-3 text-center"> @ViewData["RandomNumber"]</h3>
            </tr>
            <tr>
                <label style="width:100%"> @ViewData["RandomQuestion"]</label>
            </tr>
            <tr>
                <td style="padding: 0 15px">
                    <button type="submit" asp-page-handler="GenerateRandomNumber" >
                        GenerateRandomNumber
                    </button>
                </td>
                <td>
                    <button type="submit" asp-page-handler="GenerateRandomQuestion">
                        GenerateRandomQuestion
                    </button>
                </td>
            </tr>
        </table>

    </form>
</body>
