@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body style="align-content:center">
     <div>
        <h1 class="display-4 text-center">Koffee with Naveen and Anmol</h1>
     </div>
    <h2>Rules:</h2>
    <p>
        <ul>
             <li>
                Random number will be generated to choose a player.
             </li>
            <li>
                Five random questions will be asked from each player.
            </li>
            <li>
                It will be a rapid fire round. Every player must answer quickly.
            </li>

        </ul>
    </p>
    <form method="post">
            <label>Enter Number of Players:</label>
        <input type="text" asp-for="NoOfPlayers" placeholder="Number of players" />
        <button type="submit" asp-page-handler="PlayersAdded">Submit</button>
    </form>


</body>
