@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<body>
<div>
    <h1 class="display-4 text-center">Koffee with Naveen and Anmol</h1>
    <h2>Rules:</h2>
    <p>
        <ul>
            <li>
                Five random questions will be asked from each player.
            </li>
            <li>
                Every player will have 10 seconds to answer.
            </li>
            <li>
                Random number will be generated to choose a player.
            </li>
        </ul>
.
        


    </p>
    <form method="post">
            <label>Enter Number of Players:</label>
        <input type="text" asp-for="NoOfPlayers" placeholder="Number of players" />
        <button type="submit" asp-page-handler="PlayersAdded">Submit</button>
    </form>

</div>
</body>
